
<div id="box" class="p-4 m-4 container">
    <h2 class="mb-4 pb-4 text-center"> Quiz Time!</h2>
    <div>
        <h3 class="my-4 text-center"> Category: Geography </h3>

        <h4 class="text-center"> Five questions</h4>
    </div>
    <div class="bg-light">
        <p id="question" class="my-4 text-center">{{question}}</p>

        <p id='answers' class="my-4 text-center">{{answers}} </p>
<div class="d-flex justify-content-center">
        <input id="useranswer" type="text-area" placeholder="Answer">
</div>

        <!-- submit button checks answer and sends user to next question -->
        <div class="d-flex justify-content-center">
            <button id="submitbtn" class="btn btn-primary m-4" type="submit">Submit Answer</button>
        </div>
    </div>
    </main>

    