<div id="box" class="container-fluid border p-4 m-4 border-opacity-50">
    <h1 class="text-center">Let's take a quiz!</h1>
    <p class="text-center"> We'll help you make a quiz, or give you some inspiration for your quiz!</p>
    <a class="btn d-flex justify-content-center" href="/Takequiz">Take a Quiz!</a>
</div>