<div class="container">
    <div class="title">
        <h3 class="text-centered"> Make your own questions!</h3>
    </div>

    <div class="form">
        <input class="form-control mt-2" type="text" placeholder="question" aria-label="question-form">
        <span> </span>
        <!-- multiple choice
        <div class="mt-2">
        <input class="form-control" type="text" placeholder="answer one" aria-label="answer-one">
        <input class="form-control" type="text" placeholder="answer two" aria-label="answer-two">
        <input class="form-control" type="text" placeholder="answer three" aria-label="answer-three">
        <input class="form-control" type="text" placeholder="answer four" aria-label="answer-four">
        </div> -->
        <!-- boolean
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">True</label>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">False</label>
        </div> -->
    </div>
</div>