<main class="">
  <div id="box" class="p-4 m-4 container">
    <h2 class="mb-4 pb-4 text-center"> Quiz Time!</h2>
    <div>
      <h3 class="my-4 text-center"> Category: </h3>

      <p>{{{quizquestion}}}</p>

      {{quizanswers}}

      <!-- submit button checks answer and sends user to next question -->
      <div class="d-flex justify-content-center">
        <button id="submit-answer" class="btn btn-primary m-4" type="submit">Submit Answer</button>
      </div>
    </div>
  </div>
</main>