<div id="box" class="p-4 m-4 container">
    <h2 class="mb-4 pb-4 text-center"> Quiz Time!</h2>
    <div>
    </div>
    <div class="bg-light">
        <!-- <p id="question" class="my-4 text-center"></p>

        <p id='answers' class="my-4 text-center"></p>
        <div class="d-flex justify-content-center">
            <input id="useranswer" type="text-area" placeholder="Answer">
        </div>

        // submit button checks answer and sends user to next question
        <div class="d-flex justify-content-center">
            <button id="submitbtn" class="btn btn-primary m-4" type="submit">Submit Answer</button>
        </div>
    </div> -->

        <div id="start-card" class="card mb-4 pb-4 text-center">
            <h2 id="title">Coding Quiz Challenge</h2>
            <p>Try to answer to following code-related questions within the time limit. <br><br> Keep in mind that incorrect answers will penalize your score/time by ten seconds!</p>
            <button id="start-button" class="button">Start Quiz</button>
        </div>

        <div hidden id="question-card" class="card mb-4 pb-4 text-center">
            <h2 id="question-text"></h2>
            <div id="quiz-options">
                <button id="option0" class="button option-button"></button>
                <button id="option1" class="button option-button"></button>
                <button id="option2" class="button option-button"></button>
                <button id="option3" class="button option-button"></button>
            </div>
            <div id="result-div">
                <hr>
                <p id="result-text"></p>
            </div>
        </div>

        <div hidden id="score-card" class="card mb-4 pb-4 text-center">
            <h2>All done!</h2>
            <p>Your final score is <span id="score"></span>.</p>
            <form class="inline-form" id="submission-form">
                  <label for="initials">Enter initials: </label>
                  <input type="text" id="initials">
                  <button id="submit-button" class="button">Submit</button>
            </form>
        </div>

        <div hidden id="leaderboard-card" class="card">
            <h2>Highscores</h2>
            <ol id="highscore-list">
            </ol>
            <div class="inline-buttons">
                <button id="back-button" class="button">Go Back</button>
                <button id="clear-button" class="button">Clear Highscores</button>
            </div>
        </div>

    </main>

    </div>
    
    <script type="application/javascript" href="./js/quizLogic.js"></script>

    <script type="application/javascript">
    // universal variables
var intervalID;
var time;
var currentQuestion;

const questions = [
    {
      questionText: "Common data types DO NOT include:",
      options: ["1. strings", "2. booleans", "3. alerts", "4. numbers"],
      answer: "3. alerts",
    },
    {
      questionText: "Arrays in JavaScript can be used to store?",
      options: [
        "1. numbers and strings",
        "2. other arrays",
        "3. booleans",
        "4. all of the above",
      ],
      answer: "4. all of the above",
    },
    {
      questionText:
        "String values must be enclosed within _____ when being assigned to variables.",
      options: ["1. commas", "2. brackets", "3. quotes", "4. parentheses"],
      answer: "3. quotes",
    },
    {
      questionText:
        "A useful tool used during development and debugging content to the debugger is:",
      options: [
        "1. JavaScript",
        "2. terminal/bash",
        "3. for loops",
        "4. console.log",
      ],
      answer: "4. console.log",
    },
    {
      questionText:
        "Which of the following is a statement that can be used to terminate a loop, switch or label statement?",
      options: ["1. break", "2. stop", "3. halt", "4. exit"],
      answer: "1. break",
    },
  ];

  const startCard = document.querySelector("#start-card");
const questionCard = document.querySelector("#question-card");
const scoreCard = document.querySelector("#score-card");
const leaderboardCard = document.querySelector("#leaderboard-card");

function hideCards() {
    startCard.setAttribute("hidden", true);
    questionCard.setAttribute("hidden", true);
    scoreCard.setAttribute("hidden", true);
    leaderboardCard.setAttribute("hidden", true);
}

const resultDiv = document.querySelector("#result-div");
const resultText = document.querySelector("#result-text");

function hideResultText() {
    resultDiv.style.display = "none";
}

document.querySelector("#start-button").addEventListener("click", startQuiz);

function startQuiz() {
    //hide cards, show the question card
     hideCards();
    questionCard.removeAttribute("hidden");

    //assign 0 to currentQuestion when start button is clicked, then display the current question on the page
    currentQuestion = 0;
    displayQuestion();

    //set total time depending on number of questions
    time = questions.length * 10;

    //executes function "countdown" every 1000ms to update time and display on page
    intervalID = setInterval(countdown, 1000);

    //invoke displayTime here to ensure time appears on the page as soon as the start button is clicked, not after 1 second
    displayTime();
}

function countdown() {
    time--;
    displayTime();
    if (time < 1) {
      endQuiz();
    }
  }

//display time left
const timeDisplay = document.querySelector("#time");
function displayTime() {
  timeDisplay.textContent = time;
}

//display question
function displayQuestion() {
    let question = questions[currentQuestion];
    let options = question.options;
  
    let h2QuestionElement = document.querySelector("#question-text");
    h2QuestionElement.textContent = question.questionText;
  
    for (let i = 0; i < options.length; i++) {
      let option = options[i];
      let optionButton = document.querySelector("#option" + i);
      optionButton.textContent = option;
    }
}

//eventObject.target identifies the specific button element that was clicked on
document.querySelector("#quiz-options").addEventListener("click", checkAnswer);

function optionIsCorrect(optionButton) {
    return optionButton.textContent === questions[currentQuestion].answer;
}

//less time for wrong answers
function checkAnswer(eventObject) {
    let optionButton = eventObject.target;
    resultDiv.style.display = "block";
    if (optionIsCorrect(optionButton)) {
      resultText.textContent = "Correct!";
      setTimeout(hideResultText, 1000);
    } else {
      resultText.textContent = "Incorrect!";
      setTimeout(hideResultText, 1000);
      if (time >= 10) {
        time = time - 10;
        displayTime();
      } else {
        //if time is less than 10, display time as 0 and end quiz?
        time = 0;
        displayTime();
        endQuiz();
      }
    }
    currentQuestion++;
  //if we have not run out of questions then display next question, else end quiz
  if (currentQuestion < questions.length) {
    displayQuestion();
  } else {
    endQuiz();
}}

const score = document.querySelector("#score");
// end quiz
function endQuiz() {
    clearInterval(intervalID);
    hideCards();
    scoreCard.removeAttribute("hidden");
    score.textContent = time;
  }

const submitButton = document.querySelector("#submit-button");
const inputElement = document.querySelector("#initials");

//store score
submitButton.addEventListener("click", storeScore);

function storeScore(event) {
  //prevent default behaviour of form submission
  event.preventDefault();
  if (!inputElement.value) {
    alert("Please enter your initials before pressing submit!");
    return;
  }
  //leaderboard value
  let leaderboardItem = {
    initials: inputElement.value,
    score: time,
  };
  //store leaderboard
  updateStoredLeaderboard(leaderboardItem);

  //hide the question card, display the leaderboardcard
  hideCards();
  leaderboardCard.removeAttribute("hidden");

  renderLeaderboard();
}

//updates the leaderboard stored in local storage
function updateStoredLeaderboard(leaderboardItem) {
  let leaderboardArray = getLeaderboard();
  //append new leaderboard item to leaderboard array
  leaderboardArray.push(leaderboardItem);
  localStorage.setItem("leaderboardArray", JSON.stringify(leaderboardArray));
}
//parse for getting leaderboard info from local storage
function getLeaderboard() {
  let storedLeaderboard = localStorage.getItem("leaderboardArray");
  if (storedLeaderboard !== null) {
    let leaderboardArray = JSON.parse(storedLeaderboard);
    return leaderboardArray;
  } else {
    leaderboardArray = [];
  }
  return leaderboardArray;
}

//display leaderboard correctly
function renderLeaderboard() {
  let sortedLeaderboardArray = sortLeaderboard();
  const highscoreList = document.querySelector("#highscore-list");
  highscoreList.innerHTML = "";
  for (let i = 0; i < sortedLeaderboardArray.length; i++) {
    let leaderboardEntry = sortedLeaderboardArray[i];
    let newListItem = document.createElement("li");
    newListItem.textContent =
      leaderboardEntry.initials + " - " + leaderboardEntry.score;
    highscoreList.append(newListItem);
  }
}
//sort leaderboard array in decending order
function sortLeaderboard() {
  let leaderboardArray = getLeaderboard();
  if (!leaderboardArray) {
    return;
  }

  leaderboardArray.sort(function (a, b) {
    return b.score - a.score;
  });
  return leaderboardArray;
}
const clearButton = document.querySelector("#clear-button");
clearButton.addEventListener("click", clearHighscores);

//clear local storage, empty leaderboard
function clearHighscores() {
  localStorage.clear();
  renderLeaderboard();
}
const backButton = document.querySelector("#back-button");
backButton.addEventListener("click", returnToStart);

//Hide leaderboard card
function returnToStart() {
  hideCards();
  startCard.removeAttribute("hidden");
}

//use link to view highscores
const leaderboardLink = document.querySelector("#leaderboard-link");
leaderboardLink.addEventListener("click", showLeaderboard);

function showLeaderboard() {
  hideCards();
  leaderboardCard.removeAttribute("hidden");

  //stop 
  clearInterval(intervalID);

  //assign undefined to time 
  time = undefined;
  displayTime();

  //display leaderboard 
  renderLeaderboard();
}

    
    </script>