<main class="">
  <script src="./js/quizLogic.js"></script>
  <div id="box" class="p-4 m-4 container">
    <h2 class="mb-4 pb-4 text-center"> Quiz Time!</h2>
    <div>
      <h3 class="my-4 text-center"> Category: Geography </h3>

      <h4 class="text-center"> Five questions</h4>

      <p id="question"></p>

      <p id='answers' class="my-4 text-center"></p>
    </div>

    <!-- submit button checks answer and sends user to next question -->
    <div class="d-flex justify-content-center">
      <button id="answerbox" class="btn btn-primary m-4" type="submit">Submit Answer</button>
    </div>
  </div>
</main>


<!-- 	
</head>
<body>
	<div>
		<h2 id="question"></h2>
		<div id="answers"></div>
		
	<script id="question-template" type="text/x-handlebars-template">
		{{{question}}}
	</script>
	<script id="answer-template" type="text/x-handlebars-template">
		<button class="answer-btn">{{{answer}}}</button>
	</script> -->