<!DOCTYPE html>

<header class="header">
    <h3 class="text-centered"> Quiz time!</h3>

    <!-- Countdown timer optional placement here 
    <script>
            //set total time depending on number of questions
    time = questions.length * 10;

    //executes function "countdown" every 1000ms to update time and display on page
    intervalID = setInterval(countdown, 1000);

    //invoke displayTime here to ensure time appears on the page as soon as the start button is clicked, not after 1 second
    displayTime();
}

function countdown() {
    time--;
    displayTime();
    if (time < 1) {
      endQuiz();
    }
  }

//display time left
const timeDisplay = document.querySelector("#time");
function displayTime() {
  timeDisplay.textContent = time;
}
</script>
<h3 class="text-centered" id="time"></h3> -->

</header>

<main>
    <span> </span>
    <title class="mt-4 text-centered"> {{Quizquestion}}</title>
    <span> </span>
    {{quizanswers}}
    
    <!--need help with deciding how to set this part up. -->
</main>
