* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#box {
    background-color:deepskyblue;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
}

#logout {
    position: absolute;
    right: 10px;
}

#hs-buttons
{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.option-button {
    border-radius: 10px;
    box-shadow: 10px 5px 5px gray;
}

#leaderboard-card,
#submit-button,
#score-card,
#start-button,
#start-card,
#clear-button,
#back-button
{
    border-radius: 10px;
}